button {
  margin-right: 10px;
  margin-bottom: 10px;
}

#children-outlet {
  background: #eee;
  margin: 20px;
  padding: 20px;
}

.data div {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}