<mat-card>
  <mat-card-header>
    <mat-card-title>Logowanie</mat-card-title>
    <mat-card-subtitle>Jeśli tu jesteś to guard zadziałał;)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput [formControl]="loginForm.controls.login">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input matInput [formControl]="loginForm.controls.password">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onLogin()">Zaloguj</button>
  </mat-card-actions>
</mat-card>