<mat-toolbar>
  <button mat-button [routerLink]="['observables']">Observables</button>
  <button mat-button [routerLink]="['hot-cold']">Hot&Cold</button>
  <button mat-button [routerLink]="['many']">Łączenie strumieni</button>
  <button mat-button [routerLink]="['higher-order-observables']">Strumienie w strumieniach</button>
  <button mat-button [routerLink]="['schedulers']">Schedulers</button>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-hot-cold-observable someData="123"></app-hot-cold-observable> -->